# **Setup**

In [26]:
!python3 --version

from psutil import *
print(f'CPU Core: {cpu_count()}')
print(f'System RAM {virtual_memory()[0]/(1024**3)} GB')

Python 3.11.4
CPU Core: 8
System RAM 8.0 GB

In [27]:
import numpy as np 
import pandas as pd 
import plotly.express as px 
import seaborn as sns
from IPython.display import clear_output
from lifelines.plotting import plot_lifetimes

In [28]:
import os
from zipfile import ZipFile

# **Data Import**

In [29]:
# !kaggle datasets download -d uciml/german-credit

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/akshayyewle/.kaggle/kaggle.json'
german-credit.zip: Skipping, found more recently modified local copy (use --force to force download)

In [34]:
with ZipFile("statlog+german+credit+data.zip", "r") as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()
    print('No. Of Files In Zip File: ',len(list_of_files),'\n')
    print(list_of_files)

No. Of Files In Zip File:  4

['german.data', 'german.data-numeric', 'german.doc', 'Index']

In [37]:
# Extract Zip File Contents In Main Directory
with ZipFile("statlog+german+credit+data.zip", "r") as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()

    for file in list_of_files:
        file_content = zip_ref.read(file)
        with open(os.path.basename(file), "wb") as f:
                f.write(file_content)

In [32]:
df = pd.read_csv('german_credit_data.csv',index_col=0)

print(df.shape)
df.columns

(1000, 9)

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit amount', 'Duration', 'Purpose'],
      dtype='object')

In [33]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [22]:
df.isna().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.3+ KB

In [24]:
df.describe()

        Unnamed: 0          Age          Job  Credit amount     Duration
count  1000.000000  1000.000000  1000.000000    1000.000000  1000.000000
mean    499.500000    35.546000     1.904000    3271.258000    20.903000
std     288.819436    11.375469     0.653614    2822.736876    12.058814
min       0.000000    19.000000     0.000000     250.000000     4.000000
25%     249.750000    27.000000     2.000000    1365.500000    12.000000
50%     499.500000    33.000000     2.000000    2319.500000    18.000000
75%     749.250000    42.000000     2.000000    3972.250000    24.000000
max     999.000000    75.000000     3.000000   18424.000000    72.000000

# **Data Cleaning**

## **Remove Unnammed Column**

In [25]:
print('Dataframe Shape Before Column Drop: ',df.shape)
df.drop(labels=('Unnamed: 0'),axis=1,inplace=True)

print('Dataframe Shape After Column Drop: ',df.shape)

Dataframe Shape Before Column Drop:  (1000, 10)
Dataframe Shape After Column Drop:  (1000, 9)